
.left{
    float: left;
    padding-right: 0px;
    margin-left: 310px;
 }
.form{
height: 590px;
background-color: white;
margin: 2px;
width: 550px;
float: right;
margin-left: 0px;
margin-bottom: 40px;
}

.container{
    margin: 10px;
padding-left: 30px;
}

 .h1{
    color: solid black;
}
body{

width: 100%;
color: rgb(0, 0, 0);
    background-image: url('assets/image1.jpg');
    background-repeat: no-repeat;
    background-size: 2500px;

}



.webform{

text-align: left;
padding: 10px;
margin: 20px;
color: gray;
}
.phone{
text-align: left;
padding: 10px;
margin: 20px;
color:gray;
}
.password{

text-align: left;
padding: 10px;
margin: 20px;
padding-left: 10px;
color:gray;
}

.type{
    padding-top: 20px;
margin: 10px;
padding: 10px;
}


.submit-btn{

padding: 10px;
margin: 20px;  
}

.internal{
border-color: rgb(247, 189, 0);
padding: 7px;

border-radius: 3px;
background-color: rgb(247, 189, 0);
color:white;
}

.password input[type=text]{
width:80px;
padding-left: 30px;

}
.container{
    margin:10px ;
   font-size: 17px;
   
}
.column {
    color: gray;
    font-size: 10px;
    float: left;
    width: 50%;
  padding-bottom: 30px;
  margin-top:30px;
  }
  
  .container .notification{
      margin-left: 0px;
      margin-top: 10px;
      
}
  .box{
      margin-left: 40px;
  }

  input[type=text]{
      margin-bottom: 20px;
  }
